{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
    <h1>Create new Recipe</h1>

    {{ include('recept/_form.html.twig') }}

    <a href="{{ path('app_recept_index') }}" class="back-link">Back to list</a>
{% endblock %}
