{% extends 'base.html.twig' %}

{% block title %}Edit Alchole{% endblock %}

{% block body %}
    <h1>Edit Alchole</h1>

    {{ include('alchole/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_alchole_index') }}" class="back-link">Back to list</a>

    {{ include('alchole/_delete_form.html.twig') }}
{% endblock %}
