{% extends 'base.html.twig' %}

{% block title %}Edit alcohol{% endblock %}

{% block body %}
    <h1>Edit alcohol</h1>

    {{ include('alcohol/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_alcohol_index') }}" class="back-link">Back to list</a>

    {{ include('alcohol/_delete_form.html.twig') }}
{% endblock %}
