{% extends 'base.html.twig' %}

{% block title %}New alcohol{% endblock %}

{% block body %}
    <h1>Create new alcohol</h1>

    {{ include('alcohol/_form.html.twig') }}

    <a href="{{ path('app_alcohol_index') }}" class="back-link">Back to list</a>
{% endblock %}
