{% extends 'base.html.twig' %}

{% block title %}New Alchole{% endblock %}

{% block body %}
    <h1>Create new Alchole</h1>

    {{ include('alchole/_form.html.twig') }}

    <a href="{{ path('app_alchole_index') }}" class="back-link">Back to list</a>
{% endblock %}
